* {
  box-sizing: border-box;
}

html {
  font-family: "Nothing You Could Do", cursive;
  direction: ltr;
  font-size: 20px;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #fafafa;
  box-shadow: 0.1rem 0.1rem 0.25rem rgba(17, 17, 17, 0.35);
  transform-origin: left bottom;
  transform: rotate(-3deg);
}

img {
  width: 70vmin;
  padding-top: 1.5vmin;
}

figcaption {
  all: unset;
  display: block;
  text-align: center;
  padding-block: 2vmin 0;
  font-size: 3.5vmin;
}
